
.form-input {
    background-color: transparent;
    outline: none;
    border: none;
    color: rgb(0, 0, 0);
}

.form-input:focus {
    font-weight: bold !important;
    color: #000000 !important;
}