<div class="user-info">

    <div *ngIf="!editMode"> 
        <h1>Account Info</h1>
        <h3><i class="fas fa-user" style="margin-right: 1rem; font-size: 1x;"></i>user: {{ user.username }}</h3>
        <h3> <i class="fas fa-envelope" style="margin-right: 1rem; font-size: 1x;"></i>email: {{ user.email }}</h3>
        <div>
            <h3><i class="fas fa-map-marker-alt" style="margin-right: 1rem; font-size: 1x;"></i>address: {{ user.address
                }}</h3>
        </div>
        <div>
            <h3><i class="fas fa-phone" style="margin-right: 1rem; font-size: 1x;"></i>phone: {{ user.phone }}</h3>
        </div>
        <h3><i class="fas fa-shopping-cart" style="margin-right: 1rem; font-size: 1x;"></i>{{ user.cartItems.length }}
            items in cart</h3>
        <div class="mt-5">
            <button class="btn-primary" (click)="editMode = true" style="margin-right: 0.6rem;">Edit</button>
            <button class="btn-delete" (click)="deleteUser()">Delete</button>
            <button class="btn-logout" (click)="logOut()">Log out</button>
        </div>
    </div>
    
    <div *ngIf="editMode">
        <h1>Edit settings (Click to edit)</h1>
        <div>Name: <input type="text" class="form-input"
        [(ngModel)]="name"> 
        </div>

        <div>Username: <input type="text" class="form-input"
        [(ngModel)]="username">
        </div>

        <div>Email: <input type="text" class="form-input" 
        [(ngModel)]="email">
        </div>

        <div>Address: <input type="text" class="form-input" 
        [(ngModel)]="address">
        </div>

        <div>Phone: <input type="text" class="form-input"
        [(ngModel)]="phone">
        </div>

        <h6 class="ItemsCart">{{ user.cartItems.length }} items in cart</h6>
        <div>
            <button class="btn-save" (click)="updateUser()">Save</button>
            <button class="btn-cancel" (click)="editMode = false">Cancel</button>
        </div>
    </div>
</div>