<div style="display: grid; place-items: center; margin-top: none;">
    <h1>Cart</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Date Added to Cart</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of cartItems; let i = index">
            <tr>
                <td>
                    <a routerLink="/shop/products/{{item.product.id}}">{{item.product.name}}</a>
                </td>
                <td>${{item.product.price.valueOf()| number: '1.2-2'}}</td>
                <td>
                    <div class="d-flex align-items-center">
                        <p style="margin-right: 1rem;">{{ item.quantity }}</p>
                        <button class="bg-transparent">
                            <fa-icon 
                            [icon]="caretDown" 
                            [style.color]="'red'" 
                            class="mx-1" 
                            size="2x"
                            (click)="decreaseQuantity(item)"
                        ></fa-icon>
                        </button>
                        <button class="bg-transparent">
                            <fa-icon 
                            [icon]="caretUp" 
                            [style.color]="'green'" 
                            class="mx-1" 
                            size="2x"
                            (click)="increaseQuantity(item)"
                        ></fa-icon>
                        </button>
                    </div>
                </td>
                <td>{{item.addedOn | date: 'MM/dd/YYYY'}}</td>
                <td>${{item.totalPrice | number: '1.2-2'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="cart-total"><h4>${{getTotal().valueOf()| number: '1.2-2'}}</h4></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkout-button">
                    <button class="btn btn-success" *ngIf="cartItems">Checkout</button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
