<div class="container">
    <div class="card">
        <a class="singup">Sign Up</a>

        <div class="inputBox">
            <i class="fas fa-user"></i>
            
            <input type="text" required="required" id="username" class="username" name="username" 
                [(ngModel)]="username" />
            <span class="user">Username</span>

        </div>
        <div class="inputBox">
            <i class="fas fa-envelope"></i>
            <input type="text" required="required" id="email" class="email" name="email" [(ngModel)]="email" />
            <span class="email">Email</span>
        </div>

        <div class="inputBox">
            <i class="fas fa-lock"></i>
            <input type="password" required="required" id="password" class="password" name="password"
                [(ngModel)]="password" /><span class="password">Password</span>
        </div>

        <div class="inputBox">
            <i class="fas fa-lock"></i>
            <input type="password" required="required" id="confirmPassword" class="confirmPassword"
                name="confirmPassword" [(ngModel)]="passwordConfirm" /><span class="confirmPassword">Confirm
                Password</span>
        </div>

        <div class="inputBox">
            <i class="fas fa-home"></i>
            <input type="text" required="required" id="address" class="address" name="address"
                [(ngModel)]="address" /><span class="address">Address</span>
        </div>

        <div class="inputBox">
            <i class="fas fa-phone"></i>
            <input type="text" required="required" id="phone" class="address" name="phone" [(ngModel)]="phone" /><span
                class="phone">Phone number</span>
        </div>

        <div class="inputBox">
            <i class="fas fa-child"></i>
            <input type="text" required="required" id="name" class="name" name="name" [(ngModel)]="name" /><span
                class="name">Fullname</span>
            <form class="register" action="" (submit)="register()">
                <input type="submit" value="Register" class="register" />
                <h4 *ngIf="error" style="text-align: center;" class="error">{{error}}</h4>
            </form>
        </div>
    </div>