<!-- <div>
    
    <button class="btn btn-primary" (click)="redirectLogin()">Login</button>

    <button class="btn btn-primary" (click)="redirectRegister()">Register</button>
</div> -->


<div>
    <div class="mat-elevation-z12" style="padding: 16px; box-shadow: 0px 7px 8px -4px rgba(0,0,0,0.2);">
        <h2 style="text-align: center; margin: 10px;"></h2>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#register">Register</a>
            </li>
        </ul>
        <div class="tab-content" style="margin-top: 20px;">
            <div id="app-login" class="tab-pane fade show active">
                <div>
                    <!-- Content of app-login-with-password goes here -->
                </div>
            </div>
            <div id="app-register" class="tab-pane fade">
                <div>
                    <!-- Content of app-register-with-password goes here -->
                </div>
            </div>
        </div>
    </div>
</div>
