.product-img-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../../assets/vitrine_new.png");
    height: 550px;
    width: 350px;
}

.btn-success {
    margin-left: 100px;
}

.btn-secondary {
    background-color: green;
}