<div text-align: center style="margin-top: 5rem;">
   
    <h1 class="mx-auto text-center" style="margin-bottom: 6rem;">Our Products</h1>
    <div class="d-flex" style="justify-content: center; flex-wrap: wrap;">
        <div *ngFor="let product of products; let i = index">
            <div 
                style="width: 300px;"
                class="mx-5 my-3"
                *ngIf="product.name.toLowerCase().includes(term === undefined ? toString() : term.toLowerCase())"
            >
                <h6 
                    style="background-color: #fff5; border-radius: 0 10px 0 0;"  
                    class="m-0 py-2 px-2"
                >{{ product.name }}</h6>
                <div class="product-img-container" [style]="'url(' + product.imageUrl + ')'"></div>
                <div git push origin main
                    style="background-color: #fff1; justify-content: space-between; align-items: center;" 
                    class="p-3 d-flex"
                >
                    <h3>${{ product.price.valueOf()| number : '1.2-2'  }}</h3>
                    <a routerLink="/shop/products/{{ product.id }}" class="btn btn-success">Go</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
