.product-grid {
    margin: auto;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 150px)); */
    /* grid-template-columns: repeat( 12, minmax(250px, 1fr) ); */
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 10px;
    justify-items: center;
    justify-content: center;
}

.product-img-container {
    background-position: center;
    background-repeat:no-repeat;
    background-size: 200px;
    width: 230px;
    height: 300px;
    display:grid;
    align-items: center;
    justify-content:center;
}
.product-price {
    
    margin-left: auto !important; /* Adjust the margin to create spacing */
    font-weight: bold; /* Adding font weight */
    color: #000000; /* Adjust color as needed */
}

.h6{
    margin-left: auto;
    background-color: #fff5; 
    border-radius: 0 10px 0 0;
    
}

.product-title {
    
    background-color: #fff5;
    border-radius: 0 10px 0 0;
    margin: 5px;
    margin-top: 35px;
    padding: 2px;
    padding-left: auto;
    font-size: x-large;
}
.btn-success {
    margin-left: 35%;
    background-image: url('../../../assets/static/images/background long.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 12px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: black;
    letter-spacing: .1em;
    border-radius: 50px;
    border-color: black;
    border: 1px solid rgb(34, 34, 34); /* Adding a border */
  }
