.container {
  
  position: relative;
  width: auto;
  height: auto;
  border: 1px solid #ffffff;
  padding: 10px;
}

.vitrine {
  margin-left: -25px;
  margin-top: 15px;
  width: 100px;
  height: 100px;
}


.card {
    width: auto;
    height: 100px;
    border-radius: 4px;
    background: none;
    display: flex;  
    gap: 5px;
    padding: .4em;
  }
  
  .card a {
    font-weight: bold;
    color: #000000;
    font-size: 13px;
  }
  .card p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px; 
    transition: all .5s;
    background: white;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card p:hover {
    flex: 4;
  }
  
  .card p span {
    background-image: url('../assets/static/images/background long.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 36em;
    min-height: 1.5em  ;
    padding: 100px;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #ff0000;
    letter-spacing: .1em;
  }
  
  .card p:hover span {
    background-size: cover;
    transform: rotate(0);
  }

  .search {
    height: auto;
    border-radius: 2px;
    background: none;
    display: flex;  
    gap: 5px;
    padding: .4em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search input {
    width: 2000px;
    border: 1px solid #000000;
  }

  .shadow__btn {
    padding: 5px 15px;
    border: none;
    font-size: 13px;
    color: #424242;
    border-radius: 7px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .shadow__btn {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 25px rgb(0, 0, 0);
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px rgb(255, 0, 0),
                0 0 25px rgb(255, 0, 0),
                0 0 50px rgb(177, 9, 9),
                0 0 100px rgb(207, 12, 12);
  }