
<div class="container">
  <div class="card">
    <img src="../../../assets/vitrine_new.png" alt="Vitrine app" class="vitrine">
    <p><span><a href="shop"><i class="fas fa-home"></i>Vitrine</a></span></p>
    <p><span><a href="login"><i class="fas fa-sign-in-alt"></i>Log in</a></span></p>
    <p><span><a href="register"><i class="fas fa-user-plus"></i>SIGN UP</a></span></p>
    <p><span><a href="account"><i class="fas fa-user-circle"></i>Account</a></span></p>
    <p><span><a href="cart"><i class="fas fa-shopping-cart"></i>Cart</a></span></p>
  </div>
</div>
<div><form class="search" (submit)="search()">
  <input 
      class="form-control mr-sm-2 bg-transparent text-success" 
      type="search" 
      placeholder="Search products" 
      aria-label="Search"
      [(ngModel)]="term"
      name="term">
      <button class="shadow__btn"type="submit">Search</button>
</form> 
</div>
<router-outlet></router-outlet>