<div class="container">
  <div class="card">
      <a class="signIn">Log In</a>

      <div class="inputBox">
          <i class="fas fa-user"></i>
          
          <input type="text" required="required" id="username" class="username" name="username" 
              [(ngModel)]="username" />
          <span class="user">Username</span>

      <div class="inputBox">
          <i class="fas fa-lock"></i>
          <input type="password" required="required" id="password" class="password" name="password"
              [(ngModel)]="password" /><span class="password">Password</span>
      </div>

        <form class="login" action="" (submit)="logIn()">
            <input type="submit" value="login" class="login" />
            <h4 *ngIf="error" style="text-align: center;" class="error">{{error}}</h4>
        </form>
    </div>

     
  </div>