<div class="main-container">
<div class="login-container">
    <h1 class="login-title">Login</h1>
    <form class="login-form" action="" (submit)="logIn()">
        <input type="text" placeholder="Username" name="username" id="username" [(ngModel)]="username" />
        <input type="password" placeholder="Password" name="password" id="password" [(ngModel)]="password" />
        <input type="submit" value="Log in" />
        <h4 *ngIf="error" class="login-error">{{error}}</h4>
    </form>
</div>
</div>

<!-- <div class="login-box">
 
    <form>
      <div class="user-box">
        <input type="text" placeholder="Username" name="username" id="username" [(ngModel)]="username" />
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" placeholder="Password" name="password" id="password" [(ngModel)]="password" />
        <label>Password</label>
      </div>
      <input type="submit" value="Log in" />
      <h4 *ngIf="error" class="login-error">{{error}}</h4>
    </form>
  </div> -->